<header class="masthead text-white text-center" >
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mt-3" src="{{ asset('img/avatar.gif') }}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Claire-Elise Hochet</h1>
        <!-- Icon Divider-->
        <div class="row">
            <div class="col"><hr></div>
            <div class="col-auto"> _______</div>
            <div class="col"><hr></div>
        </div>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight mb-0">Développeuse full-stack</p>
        <div class="col-lg-6">
            <p class="text-justify mt-3 font-weight-light">Après deux années d'alternance en tant que consultante fonctionnelle et développeuse full-stack sur des projets personnels, je souhaite poursuivre mon évolution professionnelle dans le développement web.</p>
        </div>
    </div>
</header>