
        <nav class="navbar navbar-expand-lg  " id="mainNav">
            <div class="container">
                 <ul class="navbar-nav" id="first_menu">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">A propos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Expériences</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Formations</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Compétences</a></li>
                           <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Intérêts</a></li>

                    </ul>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a   href="mailto:claireelise.hochet@gmail.com" class=" nav-link fa fa-envelope"></a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a  href="https://www.linkedin.com/in/claire-elise-hochet-500314131/" class=" nav-link fa fa-linkedin"></a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a  href="https://github.com/ce-hochet?tab=repositories" class=" nav-link fa fa-github"></a></li>
                    </ul>
                </div>
            </div>
        </nav>