<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">

    <title>{% block title %}Portfolio {% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app')}}
    {% endblock %}

    <style type="text/css">
        #navbar_header{background-color:#E91E63;
        }

    </style>
</head>

<body>
    <header>{% include 'header.html.twig' %}</header>
    <div class="container" style="height:1300px;">
        <div class="row mt-5 pt-5">
            <div class="col text-center">
                {% block body %}  {% endblock %}
            </div>
        </div>
    </body>


    {% block javascripts %}
    {{ encore_entry_script_tags('app')}}
    {% endblock %}
</body>
</html>
